<h1><center>Введение в анализ данных</center></h1>
<hr>
<h2><center>Rossman Store Sales</center></h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

<h2>Подготовка данных:</h2>

<h3>Основная таблица</h3>

In [3]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/train.csv'
df = pd.read_csv(filepath, sep=',')
df.head()

/home/ivan/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

Заменим в StateHoliday буквы на цифры

In [4]:
df = df.replace({'StateHoliday': {'0': 0, 'a': 1, 'b': 2, 'c': 3}})

<h3>Дополнительная таблица</h3>

In [5]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/store.csv'
df_store = pd.read_csv(filepath, sep=',')
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

Заменяем в категориальных переменных значения на цифры

In [6]:
df_store = df_store.replace({'StoreType': {'a': 0, 'b': 1, 'c': 2, 'd': 3}})
df_store = df_store.replace({'Assortment': {'a': 0, 'b': 1, 'c': 2}})

Объединяем две таблицы

In [7]:
df_full = df.merge(df_store, on='Store', how='left')
df_full.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,2,0,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,2,2,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,0,0,29910.0,4.0,2015.0,0,NaN,NaN,NaN

<h3>Тестовые данные</h3>

In [8]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/test.csv'
df_test = pd.read_csv(filepath, sep=',').set_index('Id')
df_test.head()

    Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
Id
1       1          4  2015-09-17   1.0      1            0              0
2       3          4  2015-09-17   1.0      1            0              0
3       7          4  2015-09-17   1.0      1            0              0
4       8          4  2015-09-17   1.0      1            0              0
5       9          4  2015-09-17   1.0      1            0              0

In [9]:
df_test = df_test.replace({'StateHoliday': {'0': 0, 'a': 1, 'b': 2, 'c': 3}})

В тестовых данных есть 11 объектов, у которых в столбце Open стоит nan. Заменим их на 1, и приведем весь столбец к целочисленному формату.

In [10]:
df_test.isnull().loc[:,'Open'].value_counts()

False    41077
True        11
Name: Open, dtype: int64

Заполняем пропуски в Open единицами (пропусков всего 11, так что это незначительно)

In [11]:
df_test.Open.fillna(value=1, inplace=True)
df_test['Open'] = df_test['Open'].astype(int)
df_test['Open'].unique()

array([1, 0])

Присоединяем дополнительную таблицу

In [12]:
df_test_full = df_test.merge(df_store, on='Store', how='left')
df_test_full.head()

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,2015-09-17,1,1,0,0,2,0,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,3,4,2015-09-17,1,1,0,0,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,7,4,2015-09-17,1,1,0,0,0,2,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,8,4,2015-09-17,1,1,0,0,0,0,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,9,4,2015-09-17,1,1,0,0,0,2,2030.0,8.0,2000.0,0,NaN,NaN,NaN

In [13]:
del df
del df_store
del df_test

<h2>Формат выходных данных</h2>

In [13]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/sample_submission.csv'
df_out = pd.read_csv(filepath, sep=',')
print len(df_out)
df_out.head()

41088

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

<h2>Random Forest</h2>

Попробуем лучше представить данные - вытащим дату, месяц, год

In [14]:
#train
df_full['Year'] = df_full['Date'].apply(lambda x: int(x[:4]))
df_full['Month'] = df_full['Date'].apply(lambda x: int(x[5:7]))
df_full['Day'] = df_full['Date'].apply(lambda x: int(x[8:10]))

#test
df_test_full['Year'] = df_test_full['Date'].apply(lambda x: int(x[:4]))
df_test_full['Month'] = df_test_full['Date'].apply(lambda x: int(x[5:7]))
df_test_full['Day'] = df_test_full['Date'].apply(lambda x: int(x[8:10]))

Введем переменную CompetitionOpen - открыт ли сейчас магазин конкурентов

In [15]:
df_full['CompetitionOpen'] = ((df_full['CompetitionOpenSinceYear'] < df_full['Year']) |\
                             ((df_full['CompetitionOpenSinceYear'] == df_full['Year']) &\
                              (df_full['CompetitionOpenSinceMonth'] <= df_full['Month']))).astype(int)

df_test_full['CompetitionOpen'] = ((df_test_full['CompetitionOpenSinceYear'] < df_test_full['Year']) |\
                             ((df_test_full['CompetitionOpenSinceYear'] == df_test_full['Year']) &\
                              (df_test_full['CompetitionOpenSinceMonth'] <= df_test_full['Month']))).astype(int)

In [16]:
df_full['FullDate'] = pd.to_datetime(df_full.Date, format='%Y-%m-%d')
df_test_full['FullDate'] = pd.to_datetime(df_test_full.Date, format='%Y-%m-%d')

import datetime
df_full['WeekNum'] = df_full['FullDate'].apply(func=lambda x: x.isocalendar()[1])
df_test_full['WeekNum'] = df_test_full['FullDate'].apply(func=lambda x: x.isocalendar()[1])

In [17]:
sum_sales = df_full.groupby('Store')['Sales'].sum()
sum_customers = df_full.groupby('Store')['Customers'].sum()
mean_check = sum_sales/sum_customers
df_meancheck = pd.DataFrame(mean_check, columns=['MeanCheck'])
df_meancheck = df_meancheck.reset_index()
df_full = df_full.merge(df_meancheck, on='Store', how='left')
df_test_full = df_test_full.merge(df_meancheck, on='Store', how='left')
del df_meancheck, sum_sales, sum_customers, mean_check

In [18]:
df_full['PromoInterval'].unique()

array([nan, 'Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'], dtype=object)

In [19]:
intervs_list = {'Jan,Apr,Jul,Oct': (1,4,7,10), 'Feb,May,Aug,Nov': (2,5,8,11), 'Mar,Jun,Sept,Dec': (3,6,9,12), np.nan: ()}

#train
df_full['Promo2Now'] = map(lambda week, month, year, promo2, interv, since_week, since_year:
                          int((promo2) == 1 & ((year > since_year) | ((year == since_year) & (week >= since_week))) &\
                           month in intervs_list[interv]), 
                           df_full['WeekNum'], df_full['Month'], df_full['Year'], df_full['Promo2'],
                           df_full['PromoInterval'], df_full['Promo2SinceWeek'], df_full['Promo2SinceYear'])

#test
df_test_full['Promo2Now'] = map(lambda week, month, year, promo2, interv, since_week, since_year:
                          int((promo2) == 1 & ((year > since_year) | ((year == since_year) & (week >= since_week))) &\
                           month in intervs_list[interv]), 
                           df_test_full['WeekNum'], df_test_full['Month'], df_test_full['Year'], 
                           df_test_full['Promo2'], df_test_full['PromoInterval'], df_test_full['Promo2SinceWeek'], 
                           df_test_full['Promo2SinceYear'])

In [20]:
df_full.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,0,0,0,0,0
SchoolHoliday,1,1,1,1,1
StoreType,2,0,0,2,0
Assortment,0,0,0,2,0
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Day,31,31,31,31,31
CompetitionOpen,1,1,1,1,1
FullDate,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
WeekNum,31,31,31,31,31
MeanCheck,8.43737,8.48272,9.25581,7.29214,8.70263
Promo2Now,0,1,1,0,0

In [21]:
columns = ['Store', 'DayOfWeek', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
           'CompetitionDistance', 'CompetitionOpenSinceYear', 'Year', 'Month', 'Day',
           'WeekNum', 'MeanCheck', 'Promo2Now']
X = np.array(df_full.loc[:,columns]).astype(int)
y = np.array(df_full.loc[:,'Sales']).astype(int)
X_test = np.array(df_test_full.loc[:,columns]).astype(int)

In [20]:
#попробуем предсказывать число покупателей, а прибыль получать из среднего чека
columns = ['Store', 'DayOfWeek', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
           'CompetitionDistance', 'CompetitionOpenSinceYear', 'Year', 'Month', 'Day',
           'WeekNum', 'MeanCheck', 'Promo2Now']
X = np.array(df_full.loc[:,columns]).astype(int)
y = np.array(df_full.loc[:,'Customers']).astype(int)
X_test = np.array(df_test_full.loc[:,columns]).astype(int)

In [21]:
cls = RandomForestRegressor(n_estimators=50, criterion='mse').fit(X, y)

In [22]:
score = cls.predict(X_test)

In [24]:
score_final = score*df_test_full.MeanCheck

In [31]:
list(score_final)

[4143.2531905031065,
 7110.4965949923844,
 8971.8987436977677,
 7982.3594644466275,
 7318.4175501962682,
 5771.5302076832713,
 7430.9637319072863,
 8047.0897069300681,
 5286.8022040884998,
 5473.6102482349525,
 7156.6415468355553,
 8477.1757449782981,
 6642.198324352983,
 8958.843466867711,
 5447.0538330512718,
 4514.4843570446837,
 5655.8009188490169,
 9676.7567954824844,
 10636.019476791773,
 9815.1284669454417,
 7491.1728564331061,
 4429.7186406725095,
 5936.5413281127576,
 4163.0682310778748,
 7715.4775344942718,
 10098.896092828831,
 9294.4334578532489,
 5778.685379129759,
 5049.904782668089,
 4542.5336500849307,
 5381.178801039061,
 9909.9191004250024,
 6879.5050450859862,
 5509.4042593222121,
 5209.9827362522883,
 7622.317525041909,
 3498.6575585925311,
 7411.7041171330575,
 4379.4381023595279,
 7919.7537247594837,
 6817.6855441029966,
 5353.1642088228682,
 7956.1153402589925,
 6956.9031356528649,
 4455.0838422387842,
 6633.1921659047148,
 7346.2965804416399,
 11415.089470284132,
 5886.8860696673801,
 8071.9112375200912,
 7294.4963546856934,
 9449.361815259168,
 6046.5994591887074,
 9183.3758384878602,
 4635.7830807401342,
 4906.2156562950104,
 6309.9299228967056,
 5922.3318217536225,
 9406.6540484673242,
 7651.9189504571414,
 5445.2546554641913,
 7885.3881632834436,
 6674.6792487945668,
 10019.761277512944,
 3711.8963902467995,
 12895.227126026868,
 4686.7941233462016,
 6245.9509738639026,
 8283.9520441929835,
 4234.012181610341,
 5938.3924403155643,
 5899.2084960088814,
 7567.1857434145095,
 5338.6003701124273,
 5247.1135000725253,
 7511.5440575785933,
 7519.3244648689461,
 6841.5446607185249,
 5492.456332970256,
 7232.0579443070692,
 11080.587500975485,
 6595.8413402906763,
 4611.7835071392592,
 6614.7685011911299,
 6024.9542172888932,
 5923.4506058996758,
 7490.2011105157089,
 3925.461074248863,
 8081.4910383757015,
 6199.7484045483498,
 6974.6742469870442,
 6873.44453855965,
 4314.3770983157792,
 6361.1280655288801,
 5340.1942519031782,
 8575.319646633523,
 8589.7780537936706,
 5041.0422990660463,
 4824.6255018018701,
 6990.0601375822616,
 5887.3425170256824,
 5828.2510693321601,
 7746.6338895821336,
 6966.6838314981869,
 7656.9982474710359,
 5780.7140476816458,
 4342.5298991298851,
 6803.6002313574218,
 9460.8411069989197,
 7603.1364819009514,
 8154.7162600719676,
 7814.1112371337131,
 5807.2744620207131,
 8306.0570787215602,
 5643.0471820159355,
 6871.4980577247097,
 8856.6502641800344,
 6443.08518771331,
 9957.2527549742044,
 7472.8510848548885,
 7787.2113709002269,
 6069.6251753170773,
 7253.4991932883195,
 7922.2480332167434,
 6334.9907648956359,
 4131.1703430699417,
 5530.8127433511554,
 8077.3580235736399,
 5818.4492233330302,
 4695.086066984426,
 8458.4499626397301,
 6500.3569201620121,
 5521.2803379567695,
 6422.9778618136161,
 5681.7353994398036,
 7334.1095302803005,
 7157.0553648394571,
 6951.4072231769132,
 5475.3776142594015,
 4869.1769312670694,
 6476.8627437482983,
 3689.1141763318547,
 6168.4374042143863,
 5376.5859863088735,
 8325.7301419828527,
 7279.4420444159123,
 6401.5176248817634,
 11872.807605088592,
 5156.1116183281765,
 5360.1424488311759,
 10191.726205608586,
 6561.6702547141804,
 7974.2583239543719,
 7370.459816370877,
 5777.3921249898858,
 6125.1967258788191,
 5304.776823140789,
 8445.4826707921038,
 11700.753589674929,
 6407.649198892912,
 3087.2835228757144,
 4768.6331552400934,
 8740.4180894799065,
 8596.0923217592244,
 6253.6984410738796,
 6652.5507494113244,
 4814.0803434797963,
 5381.7925801089668,
 3386.4164412860841,
 4907.1658728419843,
 6302.4358725389748,
 7292.3602921603897,
 7136.1844202734901,
 8526.2711915501841,
 7798.5447740229165,
 8912.5052566689174,
 7742.0541434032702,
 4832.6545816284952,
 9282.7595247545396,
 10328.686678492417,
 5909.9912701657204,
 7578.6720543359734,
 5381.5836528426253,
 6616.1203261344763,
 4201.9949709161929,
 7322.8617397013513,
 5014.9030565394951,
 9701.5488916986851,
 7466.1973634640317,
 8563.8360403086626,
 8121.6809924469289,
 5935.822450472504,
 8431.2464107424348,
 18586.38026060618,
 10165.913100893926,
 5964.2603849341895,
 2942.1396377297069,
 5923.6401626964798,
 8262.1138983471155,
 5517.9661900344081,
 13285.048382671936,
 17955.747500110774,
 3885.7231433708916,
 5496.1826232284793,
 9626.562013928904,
 5015.1188951808135,
 8036.1468366584049,
 6631.8197905171373,
 7224.0657100584704,
 5096.2987714904857,
 6462.5450559259161,
 6035.7996843113879,
 7529.4673481729906,
 9628.0903591240585,
 6719.7650952050444,
 6109.32417525857,
 7084.9789450289736,
 4921.744389511824,
 4956.7450262487209,
 7807.0086979822026,
 5761.8410707518096,
 6132.0697936625756,
 7213.4125335634835,
 6258.3709108505436,
 5829.5807953167914,
 7336.2813663327706,
 6961.6668904834942,
 8324.4512155244774,
 7121.7196137848587,
 7646.9677784779451,
 5782.9396877032623,
 3790.670992840398,
 6308.5996632092738,
 7101.3113099862785,
 5891.7260301015576,
 4847.5168661368079,
 8624.8220633143392,
 7275.0203973814869,
 9012.2415096780769,
 7164.6991202807585,
 6175.6429325771114,
 5448.3746971978153,
 4590.3474586129123,
 9775.6485464576708,
 5091.8242240575464,
 7345.1061448426108,
 15131.250202752539,
 7212.6019383305429,
 8565.3238360600717,
 5507.4474957694665,
 4517.8833631728385,
 7525.4129269776113,
 3981.4238903755972,
 5832.7196163019998,
 10771.328982800725,
 5436.1111680790682,
 14832.372893985412,
 13576.634917291405,
 4783.3034741370693,
 6862.4337827695408,
 5517.0615291006943,
 6947.7019017820503,
 5611.9376800061609,
 11345.444145655079,
 7433.7620179823098,
 9410.8602465022868,
 4408.3502104369718,
 7222.472008203089,
 5164.6782509136174,
 8639.5218123189588,
 6877.5691927385642,
 6030.7357765659499,
 6194.9111087525935,
 6969.5823890745532,
 8158.0334197075044,
 10060.456964330373,
 5983.8296745004691,
 9829.5282481512277,
 6394.35648565477,
 11252.295331954203,
 5312.6814420985293,
 5245.4119627044747,
 5596.626895924539,
 10544.723726431102,
 6390.6684389389156,
 7955.1694074214693,
 6938.7204440420046,
 8522.6189895417374,
 4410.5024909434651,
 8748.9728382505218,
 6640.2297986641115,
 4139.9268391574433,
 14203.82321731489,
 17947.56809467699,
 6977.8891849817746,
 7045.2314836384458,
 8780.6855372146238,
 10490.262942803856,
 11014.704884636552,
 5749.6556916903628,
 7395.3778356984258,
 5659.6416543927171,
 7607.97249043376,
 3886.6174012069828,
 5574.6181844501707,
 5813.1409509420801,
 5445.4810634598589,
 7553.4113964790486,
 5389.7024106082445,
 4971.3438320071809,
 6801.4354997075516,
 4297.9030053904917,
 4381.0992900570909,
 6034.1039253340114,
 6089.0910664405037,
 9048.8188600597041,
 9011.5487926825299,
 7308.5063609661993,
 6090.7278889435465,
 6247.0252344447472,
 12138.501331907981,
 7146.2094019332035,
 5245.6935138608187,
 5105.9868039428356,
 7461.9690677772169,
 4795.9529031319171,
 7066.8727964879372,
 3447.0922378070491,
 4974.0435417945118,
 7773.3607145429451,
 6261.0501941196226,
 5346.5958561304069,
 9402.420394307057,
 10159.687033468559,
 12159.986362011212,
 6352.5923035937012,
 9098.7293632075471,
 2941.1626557242294,
 5172.6886369158956,
 6327.5069155092369,
 4437.265506753929,
 8251.0022682082727,
 4999.7614563713214,
 4793.5491634112641,
 8531.1593517856854,
 11078.87768498166,
 9167.8068091156329,
 5469.8818000312667,
 5417.8686603716733,
 8601.0047351422782,
 8037.2779397276718,
 6514.9851621468943,
 4998.6303414297026,
 6827.5208726883102,
 10518.902428454381,
 4470.5941993663964,
 6122.2866628265429,
 7562.1842437126925,
 8028.6737219825391,
 13572.951588103424,
 5689.0410838514244,
 11869.464381647145,
 6914.793586937868,
 5087.5462104205244,
 3891.830204539338,
 6056.9158758551721,
 6539.263776006861,
 5528.7517666270942,
 7300.8018831037843,
 5157.8758576153123,
 4882.086089933794,
 7057.0685600773477,
 3517.5727178468937,
 7720.953372619907,
 6987.099886503981,
 7939.687597614432,
 8164.6861567635897,
 5913.8416143918657,
 8775.5946770810024,
 6421.7661247435026,
 5234.9817908286468,
 5621.0067798208393,
 5119.5205791837379,
 10164.750573264004,
 6473.6392422438357,
 4551.9191356087376,
 7312.1905118303575,
 8360.2553025336365,
 7226.230454571978,
 6181.1664034268606,
 8214.8394168950454,
 5470.9337693093257,
 6700.3498276359796,
 6136.0205552257721,
 8476.2671390369687,
 6300.4648249100792,
 6025.2554801740716,
 5845.9365199484382,
 5021.9960339116078,
 3889.4303899801448,
 5692.5285066729275,
 8749.4670821785458,
 8931.1547154070176,
 10301.113363971317,
 10662.214605982841,
 8007.8411773281396,
 6909.335736236274,
 5138.8904677239871,
 10282.463312619384,
 10649.65123075343,
 7684.3531531084,
 8650.3031359813904,
 8143.4360334009798,
 5775.6596951153278,
 3869.1844288528096,
 10663.170486531981,
 6859.1353764236055,
 6203.7176483222202,
 6243.8230476593681,
 3049.6518207939948,
 11307.481666627078,
 5997.4510245094116,
 4944.1881363264347,
 4805.864912309301,
 5135.6563008432959,
 6558.1679007735111,
 8505.4039598447689,
 6502.1031973419622,
 5458.8053836234685,
 4910.9075209511011,
 3912.7744847425856,
 3292.975006968396,
 6983.1226110216157,
 16946.304008697552,
 4250.0952273877738,
 5628.4185174676732,
 6185.8149945804953,
 5354.3473888991639,
 5171.2469111877572,
 4881.0305609176621,
 4278.1974469240695,
 7691.1233826843963,
 7095.1602467665998,
 4106.4917155429439,
 8224.1638860999992,
 5917.255266352342,
 4562.8651499124335,
 8092.4262683685083,
 7729.1812216366043,
 9476.7305252937804,
 5440.9385308130386,
 6807.0307943979906,
 4768.1705875124071,
 5460.916278312895,
 14527.973820496842,
 9669.9290196262027,
 6644.5742317286558,
 5282.9892004450885,
 4890.7517328188824,
 6338.7399296528829,
 5480.1545318193494,
 11943.700759714406,
 5154.4874196724431,
 5665.842590524946,
 7016.5723951019054,
 4519.9937245121628,
 6086.2238153549815,
 7807.7563270193032,
 6530.3872538626429,
 6803.3191975339832,
 4195.3779794815382,
 5500.115498023637,
 7297.8641341390967,
 9109.304367367251,
 8270.2086442066611,
 6509.7366106451091,
 4521.1233893501776,
 8223.5350611144968,
 5985.9374113624754,
 4651.3485476981496,
 7304.1564043389762,
 7263.869711786092,
 6442.8394511881697,
 5856.0036126681334,
 6321.4222762411719,
 6404.4383180807044,
 5721.7222389508897,
 6927.5483290586408,
 6386.5794340908233,
 6294.8790316930663,
 9561.5226499584769,
 5884.6864767805409,
 4583.6558832059718,
 10998.812646667748,
 6186.5578770469901,
 3378.6747613340895,
 7580.0453151070615,
 10706.044025648431,
 10058.837065235732,
 4999.6842473815741,
 5827.155936651021,
 5863.9499721723714,
 7084.4378665952008,
 5815.9265303356951,
 8664.8725501334211,
 3281.597117810144,
 5631.6452705639358,
 6053.2998698775555,
 5303.7848046037589,
 5341.4786071629414,
 6769.5446967720281,
 8552.5953122607407,
 5474.2155178699677,
 8549.6394794809166,
 6982.987997853812,
 8682.4947344239499,
 5054.8912508825852,
 6542.2043261084418,
 6799.2842221133305,
 8070.3891554471893,
 7743.4809323560721,
 5911.6071339718646,
 9222.7137588359492,
 7023.4948543868004,
 7624.1973063379182,
 4312.4687804256655,
 3898.6169392854194,
 8233.2398614562153,
 6265.9979275247797,
 8561.9001546972922,
 6822.9923081230281,
 5722.7135537024014,
 8209.7291289067598,
 6710.3758268294814,
 6978.145700371022,
 8449.9582978027211,
 6057.6686674393977,
 8129.1918805394207,
 10694.975083182557,
 7645.0185849953023,
 4705.769758070579,
 5880.9621993611499,
 4481.8198166411994,
 0.0,
 7611.54280161109,
 5536.1473487493749,
 8404.4462708541087,
 4995.650996975729,
 6454.8999486426073,
 6262.3594982221248,
 8951.5755469873675,
 5100.1879660450395,
 5395.322239719726,
 5659.4910904130211,
 7628.2564280132101,
 5440.741581133404,
 7165.9331448309713,
 7275.5985386193124,
 7791.6896271121987,
 7556.3905758062447,
 7259.3644276575269,
 6093.2493949352984,
 4773.4066674772312,
 5225.3176933688846,
 10346.431255392052,
 8915.046207569465,
 6965.026983592692,
 14816.319334959007,
 5874.1165551055219,
 5081.9706639433789,
 5955.2037604502593,
 8295.4959936776941,
 10318.430228541298,
 6551.5091704954393,
 8674.4097121258128,
 7775.9771246357896,
 7456.4284576318505,
 6832.9194929169344,
 5762.8876370480539,
 4908.2700227923669,
 5090.1245248919349,
 4012.4882214853692,
 5430.0012993472528,
 8447.7598567690384,
 15723.727652687667,
 6945.0537839850131,
 5238.2618675377116,
 6894.0209568121736,
 4573.8602939197826,
 6108.3728527108169,
 4403.7685725378205,
 9094.1576279234014,
 6706.362144138403,
 6277.1723150211546,
 13404.904330492109,
 11769.219146822696,
 5324.5633932179062,
 6999.6387320683571,
 3913.7882364145366,
 5877.6955551638885,
 5574.9403670184047,
 8691.5207706026849,
 4844.8194795395648,
 4168.6393343294949,
 5687.2325091884813,
 5449.302208893102,
 6602.5921042929031,
 7018.7203578125145,
 3515.945573817256,
 7313.2170005798207,
 8002.2586852864169,
 7384.3893918029898,
 4819.4702000157013,
 4362.1025522352802,
 8319.0478609956681,
 4864.1427684860519,
 9454.1925492190385,
 4834.8700863314525,
 4910.3794727289833,
 7037.1405303091278,
 5611.4582409538589,
 4790.5398206828077,
 5870.2786876037417,
 6818.3558902650639,
 9257.1535170110255,
 8890.6502498863865,
 5960.9827163891423,
 4084.7706845609505,
 5601.4212904043052,
 6226.4736340550708,
 5025.3426164637876,
 6085.3344764492349,
 6332.1248933677289,
 11244.940814163836,
 7521.0370300163677,
 6276.1294422004967,
 8122.0552549027725,
 4970.953862798161,
 9001.2051062315004,
 5714.8056885361875,
 13261.900570294509,
 5828.8967528445628,
 5446.8681689812238,
 5031.1407505057759,
 4085.2471023656226,
 7009.3314365860288,
 18757.065692578228,
 4049.6561292547003,
 4552.1667802517504,
 9151.6617085870312,
 5989.4066660461913,
 6744.3947416961328,
 7886.8531342375745,
 5813.4200063075332,
 5050.3871248772039,
 4757.4194106347986,
 9321.0989840488928,
 5851.2151986559347,
 7312.4867249991021,
 7134.7222863008947,
 4359.3264362565278,
 7512.5066072800282,
 6006.1859155018146,
 3744.5425912796882,
 8401.6254274913135,
 8385.7342159484306,
 4743.3053085141546,
 7456.6116819247782,
 7618.6561739762737,
 4611.1057563884442,
 8844.0713892117747,
 6547.2678692226991,
 8757.6248042879197,
 4836.2894372188221,
 5142.7053632169473,
 6425.3427808237075,
 0.0,
 7606.0935817259142,
 3898.3912053896579,
 6107.5153729230387,
 4749.3201745419992,
 6224.5553489049234,
 5874.526737516213,
 6846.1997113900998,
 7063.8933526056962,
 7922.4619953914762,
 5835.0220755706123,
 7475.6374002294424,
 6011.0756223527706,
 8280.3040509023358,
 9387.9693840726195,
 6884.0591541665481,
 3031.5733475649436,
 5927.2719333282566,
 7590.5341091491491,
 4191.8854576036356,
 11857.501879183812,
 5752.3331556673265,
 7199.4765770795184,
 10632.201175279337,
 6819.0253058368826,
 4372.5269412930547,
 11197.293103261158,
 10035.766192323552,
 5471.0444493912019,
 8943.8807747752944,
 9779.3996885690885,
 5947.9408600043816,
 4951.4029463580227,
 6852.8097586334688,
 5560.1999982865254,
 6172.8147625259799,
 6818.6671332817268,
 4781.7602327020522,
 6824.1648265441709,
 6981.6035060526265,
 7003.3001632165251,
 7470.671719319057,
 5979.3970955325822,
 6568.0993405528216,
 4674.3286877504925,
 7978.6032848470213,
 6731.8621827406369,
 6680.2296041076279,
 6448.5961614078542,
 6881.2340609930789,
 9536.3157025042783,
 5435.6567095152323,
 4804.7989552788795,
 6647.4699813824864,
 6820.0488260933134,
 6513.6597006681905,
 4610.755060485566,
 4291.9986652977414,
 7518.2189081735141,
 7914.2764352385857,
 5647.2079358778137,
 8014.8531958619287,
 6701.5811726607581,
 5993.2468165120063,
 5318.0707645648463,
 3662.4036774183496,
 6932.9273140544656,
 6358.9367047146588,
 6125.5610205990215,
 9163.2880945882462,
 8029.6868594312091,
 4599.7237548118392,
 8532.940095485701,
 4331.165213265951,
 3485.4229966851399,
 7575.0026577129302,
 12010.737888764874,
 8618.4615145155894,
 6833.2831717040563,
 4656.6917867157936,
 6082.4193516813057,
 8722.897609267593,
 5767.2036320975576,
 8487.1346447746128,
 4735.91042902752,
 4674.7428862768911,
 5125.6021447252242,
 5821.8567628650489,
 5463.8986369944523,
 4915.4895476102656,
 4796.3624521153706,
 4185.5870751301381,
 7171.537656222341,
 6830.778283437111,
 5476.3511847076661,
 6021.9800574770134,
 6940.4380836998216,
 5747.5942269802708,
 5372.0598600549529,
 8941.5187106374306,
 6559.3007215058269,
 6061.0273634718369,
 3626.2235178313304,
 10623.784464382356,
 6598.1324851552772,
 5493.6332434749129,
 8722.7841751069827,
 7873.1906853629271,
 7300.0571476834048,
 5579.6487130468677,
 7369.4716600922739,
 8889.583435224511,
 12658.36846870728,
 4790.1267257730406,
 4869.7091284344497,
 5206.8169047178335,
 6776.3082836349658,
 6053.0411607036622,
 7655.8223564934287,
 8745.1662788595204,
 6122.0324692964723,
 4221.9234694672796,
 5791.0768259484339,
 8039.2397071382884,
 4655.6521764541485,
 7388.2749634936536,
 4111.6746763629744,
 7870.1835213754694,
 7605.3542829307526,
 7110.5904439509377,
 8713.5231729702809,
 6339.4201365697136,
 4025.5788725217876,
 6755.3013559909423,
 6907.5850906853184,
 8539.5475777217398,
 7253.1287713928932,
 7756.2006138840807,
 6176.4324765656493,
 4380.4923696430842,
 9149.2166981542614,
 4334.6482082204129,
 9928.8169250379378,
 6131.4275317692418,
 4346.7725954198468,
 6550.7425891619832,
 6433.5527753755887,
 7376.3870564102563,
 7694.5475545869231,
 3888.8862216260109,
 4632.6278349730937,
 7544.3754811974632,
 9202.5744608108998,
 9338.5921398768132,
 5313.7457834045754,
 6116.7578889690803,
 6546.2533546243003,
 6481.0259837483964,
 5722.6906667372259,
 9582.3243374570739,
 8575.5973713771364,
 11059.126571254299,
 4271.4523088633723,
 5592.510416338846,
 0.0,
 8823.9668690370763,
 5090.079492403348,
 10214.294068714555,
 6422.756218774819,
 5318.0564348415028,
 5417.4371786812817,
 4989.7106274570988,
 5199.9383274202892,
 5927.1748792182379,
 4942.6978147102936,
 5046.2529506682622,
 8897.6518079341658,
 7511.6367290638991,
 19685.666036551691,
 6678.4655762332632,
 4386.0805981980511,
 7468.511237014598,
 8904.7875059182988,
 6467.8252526321294,
 7357.5776824589257,
 5768.7176625055572,
 8216.0878383100535,
 8529.5664740739267,
 5344.1416508791117,
 5437.4952027695954,
 6765.9683807370411,
 8702.9622684129081,
 6673.4532930964342,
 8693.7456539833747,
 5367.84944042192,
 4550.7452755751629,
 5590.5786455678017,
 10033.440410264291,
 10717.240868487279,
 9825.7115763875681,
 7598.4278128086762,
 4263.4747394291089,
 5600.0312848449503,
 4583.1599716535111,
 7930.5529522859315,
 10069.640119317173,
 9855.7442064767656,
 5939.0797908563809,
 5388.7128383533372,
 4467.6494179082747,
 5433.462302095495,
 11366.438310169464,
 6718.4815532469074,
 4918.1360448974292,
 5238.1824748315612,
 8147.5771113481751,
 3661.4710955399246,
 7671.3349282199379,
 4347.1735529596963,
 6237.0545411256253,
 6735.5872978772322,
 5703.2166668917398,
 7741.4911635965946,
 6924.0584330494139,
 4893.9684875551775,
 6731.9300385296865,
 6763.7411198338859,
 10138.267732456005,
 5815.2484438790543,
 8230.9762360288714,
 7539.9179256188472,
 9635.8739039484408,
 6240.2385471157349,
 9151.8345212090389,
 4807.7959137095295,
 4711.3304852323936,
 6558.811430476544,
 5689.3257357609082,
 9518.1670386922269,
 7522.4475803451214,
 5294.2580329690763,
 7055.6664650805224,
 6676.669833472678,
 9420.4299569222876,
 3758.8852664164897,
 14049.840254948784,
 5012.2853396620485,
 6199.0738145514206,
 8577.2879342601409,
 4790.5185731453521,
 6003.0664821028822,
 5948.2301990986225,
 7417.0078539400647,
 5275.686809159004,
 5613.8934565573254,
 7554.2549384993108,
 7536.4334991875794,
 7387.4627133615577,
 5786.1622749757307,
 7325.7513784374141,
 11376.239719514642,
 6619.874347233701,
 4769.4051374003366,
 6236.114869404264,
 6219.5458207466063,
 6225.4909965446132,
 7420.2291825774955,
 3959.3842275493776,
 8327.075845437148,
 6408.5379272325508,
 7022.1346525396684,
 7334.3769217475974,
 4414.1908319027516,
 6591.1319812100173,
 5294.9383684124732,
 8751.3187810019226,
 9081.2094325151265,
 5066.5697274015556,
 4719.4755857513301,
 6922.9559054922483,
 5994.3089184925839,
 6008.458210347495,
 8015.1243919594117,

In [25]:
features = {}
for i in xrange(len(columns)):
    features[columns[i]] = cls.feature_importances_[i]

In [26]:
import operator
sorted_features = sorted(features.items(), key=operator.itemgetter(1), reverse=True)
sorted_features

[('Open', 0.38031965986399285),
 ('MeanCheck', 0.1755108321297342),
 ('Store', 0.13082546894660058),
 ('CompetitionDistance', 0.12715432724823084),
 ('CompetitionOpenSinceYear', 0.058343360464486863),
 ('StoreType', 0.028985872715654792),
 ('Promo', 0.022680034001580644),
 ('DayOfWeek', 0.020823986259233967),
 ('WeekNum', 0.015278650918683735),
 ('Day', 0.01395824167387103),
 ('Assortment', 0.011337050537368797),
 ('Year', 0.0059066436669838861),
 ('Month', 0.0050762265898773393),
 ('SchoolHoliday', 0.0019021603841100402),
 ('Promo2Now', 0.00110714557860815),
 ('StateHoliday', 0.00079033902098206747)]

Лучшая точность:<br>
<br>
0.15051<br>
0.12415<br>

<h2>Boosting</h2>

In [36]:
%%timeit
boost = GradientBoostingClassifier(n_estimators=50).fit(X[:100], y[:100])

1 loop, best of 3: 3.53 s per loop

Очень долго работает - с учетом асимптотики на всей выборке будет обучаться больше года!

<h2>Линейная регрессия</h2>

Векторизуем остальные категориальные признаки: DayOfWeek, StoreType, Assortment, и нормализуем вещественный CompetitionDistance

In [23]:
df_full_linear = df_full.copy()
day_of_week = OneHotEncoder().fit_transform(df_full_linear['DayOfWeek'].values.reshape(-1, 1)).toarray().astype(int)
store_type = OneHotEncoder().fit_transform(df_full_linear['StoreType'].values.reshape(-1, 1)).toarray().astype(int)
assortment = OneHotEncoder().fit_transform(df_full_linear['Assortment'].values.reshape(-1, 1)).toarray().astype(int)

for i in xrange(len(day_of_week[0])):
    df_full_linear['day_of_week_{}'.format(i)] = day_of_week[:,i]
    
for i in xrange(len(store_type[0])):
    df_full_linear['store_type_{}'.format(i)] = store_type[:,i]
    
for i in xrange(len(assortment[0])):
    df_full_linear['assortment_{}'.format(i)] = assortment[:,i]
    
df_full_linear.drop(df_full_linear[['DayOfWeek', 'StoreType', 'Assortment']], axis=1, inplace=True)

In [24]:
df_full_linear.head().T

,0,1,2,3,4
Store,1,2,3,4,5
Date,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,0,0,0,0,0
SchoolHoliday,1,1,1,1,1
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Day,31,31,31,31,31
CompetitionOpen,1,1,1,1,1
FullDate,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
WeekNum,31,31,31,31,31
MeanCheck,8.43737,8.48272,9.25581,7.29214,8.70263
Promo2Now,0,1,1,0,0
day_of_week_0,0,0,0,0,0
day_of_week_1,0,0,0,0,0
day_of_week_2,0,0,0,0,0
day_of_week_3,0,0,0,0,0
day_of_week_4,1,1,1,1,1
day_of_week_5,0,0,0,0,0
day_of_week_6,0,0,0,0,0
store_type_0,0,1,1,0,1
store_type_1,0,0,0,0,0
store_type_2,1,0,0,1,0
store_type_3,0,0,0,0,0
assortment_0,1,1,1,0,1
assortment_1,0,0,0,0,0
assortment_2,0,0,0,1,0

In [25]:
df_full_linear.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 37 columns):
Store                        1017209 non-null int64
Date                         1017209 non-null object
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null int64
SchoolHoliday                1017209 non-null int64
CompetitionDistance          1014567 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              509178 non-null float64
Promo2SinceYear              509178 non-null float64
PromoInterval                509178 non-null object
Year                         1017209 non-null int64
Month                        1017209 non-null int64
Day                          1017209 non-null int64
CompetitionOpen              1017209 non-null int64
FullDate                     1017209 non-null datetime64[ns]
WeekNum                      1017209 non-null int64
MeanCheck                    1017209 non-null float64
Promo2Now                    1017209 non-null int64
day_of_week_0                1017209 non-null int64
day_of_week_1                1017209 non-null int64
day_of_week_2                1017209 non-null int64
day_of_week_3                1017209 non-null int64
day_of_week_4                1017209 non-null int64
day_of_week_5                1017209 non-null int64
day_of_week_6                1017209 non-null int64
store_type_0                 1017209 non-null int64
store_type_1                 1017209 non-null int64
store_type_2                 1017209 non-null int64
store_type_3                 1017209 non-null int64
assortment_0                 1017209 non-null int64
assortment_1                 1017209 non-null int64
assortment_2                 1017209 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(28), object(2)
memory usage: 294.9+ MB

In [26]:
columns = ['Store', 'Promo', 'StateHoliday', 'SchoolHoliday', 'CompetitionDistance', 'Promo2',
          'day_of_week_0', 'day_of_week_1', 'day_of_week_2', 'day_of_week_3', 'day_of_week_4', 'day_of_week_5',
          'day_of_week_6', 'store_type_0', 'store_type_1', 'store_type_2', 'store_type_3',
          'assortment_0', 'assortment_1', 'assortment_2', 'MeanCheck']
X_linear = np.array(df_full_linear.loc[df_full_linear.Open == 1,columns])
y_linear = np.array(df_full_linear.loc[df_full_linear.Open == 1,'Sales'])

In [27]:
X_linear.shape

(844392, 21)

Избавимся от Nan в CompetitionDistance - заполним нулями

In [32]:
np.unique(np.isnan(X_linear[:,4]))

array([False,  True], dtype=bool)

In [33]:
X_linear[np.isnan(X_linear[:,4]),4] = 0

In [34]:
np.unique(np.isnan(X_linear[:,4]))

array([False], dtype=bool)

Отнормируем данные

In [35]:
X_linear = StandardScaler().fit_transform(X_linear)
#y_linear = (y_linear - y_linear.mean())/y_linear.std()

In [36]:
y_linear[0]

5263

Аналогично преобразуем тестовые данные

In [42]:
df_linear_test = df_test_full.copy()
day_of_week = OneHotEncoder().fit_transform(df_linear_test['DayOfWeek'].values.reshape(-1, 1)).toarray().astype(int)
store_type = OneHotEncoder().fit_transform(df_linear_test['StoreType'].values.reshape(-1, 1)).toarray().astype(int)
assortment = OneHotEncoder().fit_transform(df_linear_test['Assortment'].values.reshape(-1, 1)).toarray().astype(int)

for i in xrange(len(day_of_week[0])):
    df_linear_test['day_of_week_{}'.format(i)] = day_of_week[:,i]
    
for i in xrange(len(store_type[0])):
    df_linear_test['store_type_{}'.format(i)] = store_type[:,i]
    
for i in xrange(len(assortment[0])):
    df_linear_test['assortment_{}'.format(i)] = assortment[:,i]
    
df_linear_test.drop(df_linear_test[['DayOfWeek', 'StoreType', 'Assortment']], axis=1, inplace=True)

df_linear_test.loc[:, 'CompetitionDistance'] = (df_linear_test.loc[:, 'CompetitionDistance'] \
                                                - df_linear_test.loc[:, 'CompetitionDistance'].mean()).div(\
                                                 df_linear_test.loc[:, 'CompetitionDistance'].std())

columns = ['Store', 'Promo', 'StateHoliday', 'SchoolHoliday', 'CompetitionDistance', 'Promo2',
          'day_of_week_0', 'day_of_week_1', 'day_of_week_2', 'day_of_week_3', 'day_of_week_4', 'day_of_week_5',
          'day_of_week_6', 'store_type_0', 'store_type_1', 'store_type_2', 'store_type_3',
          'assortment_0', 'assortment_1', 'assortment_2', 'MeanCheck']
X_linear_test = np.array(df_linear_test.loc[:,columns])

X_linear_test[np.isnan(X_linear_test[:,4]),4] = 0
X_linear_test = StandardScaler().fit_transform(X_linear_test)

In [72]:
lin_reg = LinearRegression().fit(X_linear, y_linear)

In [38]:
ridge = Ridge(alpha=1.0).fit(X_linear, y_linear)

Очень плохой R^2, линейная регрессия не подходит

In [73]:
lin_reg.score(X_linear, y_linear)

0.2199726187659895

In [39]:
ridge.score(X_linear, y_linear)

0.22576761266121803

In [43]:
score = ridge.predict(X_linear_test)

In [44]:
ridge.coef_

array([   31.81852465,  1141.6415485 ,     9.83301624,    86.53788112,
        -235.65130941,  -450.63230753,   367.87208946,   -27.99085019,
        -162.53160218,  -157.45845727,   -19.64746939,    -2.49174034,
          20.23351473,    27.95934458,   734.51918165,    -5.5536175 ,
        -240.41478648,  -169.65306987,  -293.5647647 ,   227.63767254,
         334.5625893 ])

In [45]:
score[X_linear_test[:,1] == 0] = 0

Лучшая точность:<br>
<br>
0.43265<br>
0.43062<br>

<h2>SVM</h2>

In [62]:
%%timeit
svr = SVR().fit(X_linear[:10000], y_linear[:10000])

1 loop, best of 3: 9.62 s per loop

In [65]:
svr = SVR().fit(X_linear[750000:], y_linear[750000:])

In [71]:
svr.score(X_linear[750000:], y_linear[750000:])

0.093636867303272933

In [66]:
score = svr.predict(X_linear_test)

In [67]:
score[df_test.Open == 0] = 0

/home/ivan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
  if __name__ == '__main__':

<h2>Запись в файл</h2>

In [32]:
df_out = pd.DataFrame(score, columns=['Sales'])
df_out = df_out.reset_index().rename(index=str, columns={'index': 'Id'})
df_out.loc[:,'Id'] += 1
df_out.head()

   Id        Sales
0   1  4143.253191
1   2  7110.496595
2   3  8971.898744
3   4  7982.359464
4   5  7318.417550

In [33]:
df_out['Sales'].isnull().unique()

array([False], dtype=object)

In [34]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/rossman.csv'
df_out.to_csv(filepath, index=False)

Проверка, что формат правильный:

In [52]:
filepath = '/media/ivan/Acer/Ivan/sphere/Rossman/rossman.csv'
df_out = pd.read_csv(filepath)
df_out.head()

   Id        Sales
0   1  4731.966667
1   2  7655.700000
2   3  8692.633333
3   4  7415.166667
4   5  7899.866667

In [53]:
len(df_out)

41088